<div class="col-md-6 offset-md-3">
    <h3>Update Employee</h3>
    <form action="" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">First Name</label>
        <input
          type="text"
          name="firstName"
          class="form-control"
          id="firstName"
          [(ngModel)]="employee.firstName"
        />
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input
          type="text"
          name="lastName"
          class="form-control"
          id="lastName"
          [(ngModel)]="employee.lastName"
        />
      </div>
      <div class="form-group">
        <label for="">Email Id</label>
        <input
          type="text"
          name="emailId"
          class="form-control"
          id="emailId"
          [(ngModel)]="employee.emailId"
        />
      </div>
      <button class="btn btn-success" type="submit">Add</button>
    </form>
  </div>
  
